*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins';
}
nav{
    display: flex;
    height: 70px;
    padding: 20px 36px;
    background-color:#F55A5A;
    align-items: center;
    box-shadow:0px  2.98256px 7.4564px rgba(73, 10, 10, 0.4);
}
.logo{
   height:45px;
   margin-left: 40%;
   margin-bottom: 10px;
}
.logo-text{
    margin-bottom: 10px;
    font-size: 30px;
    color:white;
    margin : 10px;
}
.card{
    display:flex;
    position: relative;
}
.card-img{
    height : 240px;
    width : 220px;
    margin : 30px;
    display:flex;
}
.card-title{
margin-top: 60px;
font-size: 40px;
}
.inner-card{
    position:absolute;
    left:280px;
    bottom: 40px;
}
.card-date{
    margin-top: 30px;
}
.map-logo{
    height:20px;
    margin-top: 20px;
    margin-right: 6px;
}
.upper-card{
    display: flex;
    margin-top: 15px;
}
.map{
    color:grey;
    margin-left: 20px;
    text-decoration: underline;
}

